@import "../../styles/const";

.admin{

  display: flex;
  align-items: center;


  &-menu{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: -100px;
    &-container{
      align-items: center;
      justify-content: center;
      padding: 50px;
      width: max-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 50px;
      grid-row-gap: 40px;

      &__elem.dark{
        background-color: $table-color-dark!important;

        &:hover{
          background-color: $yellow-hover-dark!important;
        }
      }
      &__elem.light{
        background-color: $table-color-ligth!important;

        &:hover{
          background-color: $yellow-hover-light!important;
        }

      }
      &__elem{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;

        -webkit-box-shadow: 0 5px 25px -7px rgba(0,0,0,0.22);
        box-shadow: 0 5px 25px -7px rgba(0,0,0,0.37);

        transition: all .5s cubic-bezier(1,-0.01,.32,.81);

        &:hover{
          scale: 1.1;
        }


        &-container{
          display: flex;
          flex-direction: column;
          padding: 45px;
          div{

            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: -5px;
            margin-top: 20px;


            span{
              margin-left: 15px;
              font-family: "Inter", serif;
              font-size: 20px;
              font-weight: 600;
            }
          }

          p{
            float: right;
            text-align: right;
            font-family: "Inter", serif;
            font-size: 16px;
            font-weight: 400;
          }

        }

      }
    }
  }
}