@import "const";

body{
    margin: 0;
}
.dark{
    input:-webkit-autofill{
        -webkit-box-shadow: 0 0 0px 1000px $table-color-dark inset;
        -webkit-text-fill-color: $table-color-ligth;
        border: 1px solid $yellow;
        border-radius: 10px ;
    }
}
.light{
    input:-webkit-autofill{
        -webkit-box-shadow: 0 0 0px 1000px $table-color-ligth inset;
        -webkit-text-fill-color: $table-color-dark;
        border: 1px solid $yellow;
        border-radius: 10px ;
    }
}


.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
}

.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;

    .flex-col{
        display: flex;
        flex-direction: column;
    }

    &-container{



        margin: auto;
        width: 65%;

        &-first-line{
            margin-bottom: 20px;
            &__btn{
                margin-left: 25px;
            }
        }

        &-table.light{
            background: $table-color-ligth;

            .yc-table{

                &__cell_sticky_right{
                    background: $table-color-ligth!important;
                }

                &::-webkit-scrollbar-track{
                    background: $table-color-dark-scrollbar-ligth!important;
                }
            }
        }
        &-table.dark{
            background: $table-color-dark;

            .yc-table{

                &__cell_sticky_right{
                    background: $table-color-dark!important;
                }

                &::-webkit-scrollbar-track{
                    background: $table-color-dark-scrollbar-dark!important;
                }
            }
        }

        &-table{
            border-radius: 20px;

            overflow: hidden;

            .yc-table{
                &::-webkit-scrollbar{
                    height: 7px!important;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 3.5px;
                    background: $yellow!important;
                }
            }




        }
}


}
