
$table-color-ligth: #F6f6f6;
$table-color-dark-scrollbar-ligth: #cbcbcb;
$yellow: #FFBE5C;
$yellow-hover-light: #ffbe6f;
$yellow-hover-dark: #ab763e;
$table-color-dark: #383138;
$table-color-dark-scrollbar-dark: #3f373f;
$scrollbar: #383138;
